:root {
  --primary-color: #4bc676;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.Form {
  color: #4bc676;
  font-family: sans-serif;
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  float: left;
  font-size: medium;
  background-image: url(../bgr-pattern.png);
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-block,
.bg-block,
.badge-block,
.alert-block {
  color: #ffffff;
  border: #ccc solid 2px;
  font-size: x-large;
  background-color: #06c432;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #ffffff;
  border: #fff solid 2px;
}

.btn-block,
.bg-block,
.badge-block,
.alert-block :after,
.btn-block,
.bg-block,
.badge-block,
.alert-block:before {
  letter-spacing: 1px;
}
.btn-block,
.bg-block,
.badge-block,
.alert-block :after,
.btn-block,
.bg-block,
.badge-block,
.alert-block:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-block,
.bg-block,
.badge-block,
.alert-block :after,
.btn-block,
.bg-block,
.badge-block,
.alert-block:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
  margin-left: 30%;
}

.btn-block,
.bg-block,
.badge-block,
.alert-block:before {
  bottom: auto;
  top: 0;
  width: 70%;
  margin-left: 30%;
}

#form-group-path {
  display: none;
}

#form-group-name {
  display: none;
}

#form-group-title {
  margin-left: 30%;
  width: 70%;
  display: none;
}

#form-group-type {
  display: none;
}

#form-group-display {
  margin-left: -50%;
  margin-top: -65px;
}

#save-buttons {
  margin-right: 10%;
  margin-top: -40px;
}

.input-group {
  margin-left: 6rem;
  width: 60%;
}

.builder-sidebar_search {
  margin-bottom: 10px;
  margin-left: 30%;
  width: 70%;
}

.row > input {
  margin-left: 5%;
  width: 20%;
  color: #000000;
}
